<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/Wildy/Documents/Xcode projects/I_wanna_SDL_C/I_wanna_SDL_C.xcodeproj</string>
</dict>
</plist>
